/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body {
  overflow: hidden !important;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
.carousel-caption {
  left: calc(47vw - 175px);
  right: calc(50vw - 175px);
  color: #3e0b4f
}
@media screen and (max-height: 800px) {
  .carousel-caption {
    bottom: 25vh;
  }
}
@media screen and (max-height: 600px) and (max-width: 550px) {
  .carousel-caption {
    bottom: 22vh;
  }
}
@media screen and (max-height: 600px) and (max-width: 450px) {
  .carousel-caption {
    bottom: 18vh;
  }
  .button-more {
    top: 20% !important;
  }
}
@media screen and (max-height: 600px) and (max-width: 350px) {
  .carousel-caption {
    bottom: 15vh;
  }
  .button-more {
    top: 20% !important;
  }
}
@media screen and (max-height: 600px) and (max-width: 350px) and (orientation: landscape) {
  .carousel-caption {
    top: 20%;
  }
}

