/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body {
  overflow: hidden !important;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
.carousel-indicators li {
  background-color: #000 !important;
}
@media screen and (max-height: 800px) {
  .carousel-indicators {
    bottom: 100px !important;
  }
  .carousel-caption {
    bottom: 150px;
    color: #000;
  }
}
@media screen and (max-height: 600px) and (max-width: 550px) {
  .carousel-indicators {
    bottom: 100px !important;
  }
  .carousel-caption {
    bottom: 150px;
    color: #000;
  }
}
@media screen and (max-height: 600px) and (max-width: 450px) {
  .carousel-indicators {
    bottom: 120px !important;
  }
  .carousel-caption {
    bottom: 170px;
    color: #000;
  }
}
@media screen and (max-height: 600px) and (max-width: 350px) {
  .carousel-indicators {
    bottom: 150px !important;
  }
  .carousel-caption {
    bottom: 200px;
    color: #000;
  }
}

